<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>62339105818-41j6h3qfbjm6ejn0v964l8komhq3ocj1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.62339105818-41j6h3qfbjm6ejn0v964l8komhq3ocj1</string>
	<key>API_KEY</key>
	<string>AIzaSyAJjGIbJIYbxjct5L4-DFANVDvwT2JKibs</string>
	<key>GCM_SENDER_ID</key>
	<string>62339105818</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Long-Thien.ReportApp</string>
	<key>PROJECT_ID</key>
	<string>dailyreport-6331b</string>
	<key>STORAGE_BUCKET</key>
	<string>dailyreport-6331b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:62339105818:ios:c92e78c8decd31f2d07da3</string>
	<key>DATABASE_URL</key>
	<string>https://dailyreport-6331b-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>